.eslintrc.json
eslint.config.mjs
ecosystem.config.js
next.config.js
tsconfig.json
package.json
package-lock.json
next-env.d.ts
.vscode

node_modules
public
build
dist
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/src/app/page.tsx