* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: $golosText;
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: clamp(5rem, 4.625rem + 1.6667vw, 6.625rem);
}

body {
    padding-bottom: 100px;
}

main {
    gap: clamp(1.25rem, 0.0962rem + 5.1282vw, 6.25rem);
    display: flex;
    padding: 0 clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
    align-items: center;
    flex-direction: column;
    max-width: clamp(22.5rem, 9.0288rem + 59.8718vw, 80.875rem);
    margin: 0 auto;

    > * {
        width: 100%;
    }
}
