* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: $golosText;
}

body {
    padding-top: 106px;
    padding-bottom: 100px;
}

main {
    gap: 100px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    flex-direction: column;
    max-width: 1294px;
    margin: 0 auto;

    > * {
        width: 100%;
    }
}
