.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    perspective: 1000px;
    width: 300px;
    height: 320px;
    min-width: 300px;
    min-height: 320px;
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .cardInner {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 5px;
}

.iconText {
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid #d9d9d9;
    font-size: 28px;
    font-weight: 400;
    color: #1f1f1f;
    text-align: center;
}

.moreText {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    background-color: #ff4b00;
    padding: 5px;
    color: #fff;
    transform: rotateY(180deg);
}
