.block {
    gap: clamp(0rem, -0.8654rem + 3.8462vw, 3.75rem);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo {
    width: clamp(5.8125rem, 3.5913rem + 9.8718vw, 15.4375rem);
    height: clamp(3rem, 1.8462rem + 5.1282vw, 8rem);
    filter: grayscale(1);
}

.text {
    --font-size: clamp(0.5rem, 0.2981rem + 0.8974vw, 1.375rem);

    color: #1f1f1f;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: calc(var(--font-size) * 0.03);
    margin: 0;
    padding: 0;
}
