.main {
    gap: 20px;
    display: flex;
    flex-flow: row wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.infoBlock {
    gap: 15px;
    display: flex;
    max-width: 402px;
    flex-direction: column;
}

.header {
    color: #ff4b00;
    margin: 0;
    padding: 0;
    font-size: 120px;
    font-weight: 700;
}

.description {
    color: #1f1f1f;
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 500;
}
