.block {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 52px;
    font-weight: 600;
    line-height: 98.5%;
}

.cards {
    gap: 18px;
    display: flex;
    overflow: auto visible;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 30px 0;

    &::-webkit-scrollbar {
        display: none;
    }

    & > * {
        scroll-snap-align: start;
    }
}
