.block {
    gap: clamp(0.625rem, 0.4808rem + 0.641vw, 1.25rem);
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    padding: 0;
    font-size: clamp(1.125rem, 0.6346rem + 2.1795vw, 3.25rem);
    font-weight: 600;
    line-height: 98.5%;
}

.cards {
    gap: clamp(0.625rem, 0.5096rem + 0.5128vw, 1.125rem);
    display: flex;
    overflow: auto visible;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: clamp(0.625rem, 0.3365rem + 1.2821vw, 1.875rem) 0;

    &::-webkit-scrollbar {
        display: none;
    }

    & > * {
        scroll-snap-align: start;
    }

    @media (width >= 1200px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: visible;
        scroll-snap-type: none;
        -webkit-overflow-scrolling: initial;

        & > * {
            scroll-snap-align: initial;
        }
    }
}
