.block {
    gap: clamp(1.25rem, 0.8173rem + 1.9231vw, 3.125rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    border: 0.5px solid #d9d9d9;
    border-radius: 10px;
}

.title {
    color: #1f1f1f;
    font-size: clamp(1.125rem, 0.6346rem + 2.1795vw, 3.25rem);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.description {
    color: #1f1f1f;
    font-size: clamp(0.75rem, 0.4038rem + 1.5385vw, 2.25rem);
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-align: center;
}
