.block {
    gap: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    border: 0.5px solid #d9d9d9;
    border-radius: 10px;
}

.title {
    color: #1f1f1f;
    font-size: 52px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.description {
    color: #1f1f1f;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-align: center;
}
