.block {
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.title {
    color: #1f1f1f;
    font-size: 52px;
    font-weight: 600;
    line-height: 98.5%;
    margin: 0;
    padding: 0;
    margin-top: -30px;
}

.list {
    gap: 20px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    max-width: 300px;
}

.item:nth-child(2) {
    margin: 0 auto;
}
