.block {
    gap: clamp(1.25rem, 0.8173rem + 1.9231vw, 3.125rem);
    display: flex;
    flex-direction: column;
}

.title {
    color: #1f1f1f;
    font-size: clamp(1.125rem, 0.6346rem + 2.1795vw, 3.25rem);
    font-weight: 600;
    line-height: 98.5%;
    margin: 0;
    padding: 0;
    margin-top: calc(clamp(0.625rem, 0.3365rem + 1.2821vw, 1.875rem) * -1);
}

.list {
    gap: 20px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.item {
    gap: clamp(0rem, -0.4327rem + 1.9231vw, 1.875rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(0.75rem, 0.5192rem + 1.0256vw, 1.75rem);
    font-weight: 400;
    text-align: center;
    max-width: clamp(12.5rem, 11.0577rem + 6.4103vw, 18.75rem);
}

.image {
    width: auto;
    height: clamp(2.25rem, 0.9231rem + 5.8974vw, 8rem);
}

@media (width <= 768px) {
    .list {
        flex-direction: column;
        align-items: center;
    }
}
