.block {
    gap: clamp(1.25rem, 0.8173rem + 1.9231vw, 3.125rem);
    display: flex;
    flex-direction: column;
}

.title {
    color: #1f1f1f;
    font-size: clamp(1.125rem, 0.6346rem + 2.1795vw, 3.25rem);
    font-weight: 600;
    line-height: 98.5%;
    margin: 0;
    padding: 0;
}

.text {
    --font-size: clamp(0.75rem, 0.5192rem + 1.0256vw, 1.75rem);

    color: #1f1f1f;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: calc(var(--font-size) * 0.03);
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: clamp(6rem, 4.8462rem + 5.1282vw, 11rem);
    height: clamp(2.25rem, 1.8173rem + 1.9231vw, 4.125rem);
    object-fit: contain;
}

.image {
    width: clamp(10.9812rem, 8.2837rem + 11.9891vw, 22.6706rem);
    height: clamp(5.8125rem, 4.3846rem + 6.3462vw, 12rem);
    object-fit: cover;
    transform: scaleX(-1);
}
