.btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 12px 30px;
    color: #fff;
    background-color: #ff4b00;
    border: none;
    border-radius: 22px;
    font-size: 22px;
    font-weight: 400;
    height: 50px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(255 77 0 / 85%);
}

.btn:active {
    background-color: #e64c00;
}
