.block {
    gap: clamp(1.25rem, 0.8173rem + 1.9231vw, 3.125rem);
    display: flex;
    flex-direction: column;
}

.title {
    font-size: clamp(1.125rem, 0.6346rem + 2.1795vw, 3.25rem);
    font-weight: 600;
    line-height: 98.5%;
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    height: clamp(11.8125rem, 4.3558rem + 33.141vw, 44.125rem);
    object-fit: cover;
    border-radius: 10px;
}
